body{
  font: 20px arial,sans-serif ;
}


.navbar {
  background-color: #87B405;
}

.quen-somos {
background-color:#0488B0 ;
color: white ;
}

.margin{
  padding-bottom: 50px;
  padding-top: 10px;

}

.parceiros {
  background-color: #00BFFF;
}

.bg-footer { 
  background-color:  black;
  color: white;
}